version: '3.8'
services:
  server:
    container_name: panthera_gptaidbot
    restart: always
    volumes:
      # - /etc/localtime:/etc/localtime:ro
      # - /etc/timezone:/etc/timezone:ro
      - ./data:/server/data
      - ./config.json:/server/config.json
      - type: bind
        source: /mnt/BOT_TOKEN_WITHOUT_PREFIX
        target: /BOT_TOKEN_WITHOUT_PREFIX
    build: server
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    network_mode: host
    environment:
      - TZ=America/Los_Angeles
      - LANGCHAIN_TRACING_V2=true
      - LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
      - LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}
      - LANGCHAIN_PROJECT=panthera
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - SERPER_API_KEY=${SERPER_API_KEY}
      - WOLFRAM_ALPHA_APPID=${WOLFRAM_ALPHA_APPID}
      - BFL_API_KEY=${BFL_API_KEY}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - PERPLEXITY_API_KEY=${PERPLEXITY_API_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - BOT_USERNAME=${BOT_USERNAME}