fastapi==0.103.2
uvicorn==0.23.2
requests==2.31.0
pandas==2.1.2
matplotlib==3.8.4
pyTelegramBotAPI==4.23.0
docarray==0.40.0
openai >= 0.27.7
streamlit >= 1.24.0
tiktoken==0.7.0
duckduckgo-search==4.1.1
wikipedia==1.4.0
youtube_search==2.1.2
wolframalpha==5.0.0
langchain==0.3.4
langchain_openai==0.2.3
langchain-community==0.3.3
pydantic==1.10.10
langchain-anthropic==0.2.3
langchain-experimental==0.0.59
tavily-python==0.3.3
langchain_core==0.2.5